*
{
    padding:0px;
    margin:0px;
}
body
{
    direction:rtl;
    background-color: #EFF1F2;
    font-family: IRANSansWeb;
    padding-top:50px;
}
.navbar-inverse
{
    background:#ffffff;
    border:2px solid #EFF1F2;
    color:#000000;
}

@font-face {
    font-family:'IRANSansWeb';
    src:url('../fonts/IRANSansWeb.eot');
    src:url('../fonts/IRANSansWeb.eot?#iefix') format("embedded-opentype"),
    url('../fonts/IRANSansWeb.woff') format("woff"),
    url('../fonts/IRANSansWeb.ttf') format("truetype");
}
@font-face {
    font-family:'Yekan';
    src:url('../fonts/yekan.eot');
    src:url('../fonts/yekan.eot?#iefix') format("embedded-opentype"),
    url('../fonts/yekan.woff') format("woff"),
    url('../fonts/yekan.ttf') format("truetype"),
    url('../fonts/yekan.svg#yekan') format("svg");
}
.sidebar
{
    background:#000000;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    height:100%;
    display:none;
    margin-top:50px;
    padding-top:30px;
    width:20%;
    font-family:Yekan;
}
.list-unstyled li
{
    font-weight:bold;
}
.list-unstyled
{
    padding:30px;
}
.list-unstyled li
{
    margin:5px;
}
.list-unstyled li ul li
{
    list-style:none;
    padding-right:10px;
}
.empty
{
    text-align:center;
}
.col-md-offset-2
{
    margin-right:20%;
}
.col-md-10
{
   width:80%;
   background:#ffffff;
   border-top:1px solid #EFF1F2;
   margin-top:4px;
   padding-top:30px;
   padding-bottom:50px;
}
.col-md-2
{
    padding-right:0px;
    padding-left:0px;
}

.nav-sidebar  li a
{
    color:#ffffff;
    cursor:pointer;
    font-size:16px;
}
.nav-sidebar  li a:hover
{
    background:#f4c05b;
    color:white;
}
.form-control
{
    border-radius:0px;
    width:30%;
}
.grid-view .form-control
{
    width:100%;
}
.breadcrumb
{
    color:#ffffff;
    border-radius:0px;
}
.breadcrumb .active
{
    color:#000000;
}
.breadcrumb li
{
    color:#000000;
}
.breadcrumb li a
{
    color:#000000;
}
input[type="file"]
{
    direction:ltr;
    width:29%;
}
label
{
    float:right;
    padding-left:20px;
    width:150px;
    padding-top:8px;
}
.field-product-show
{
    width:100%;
    float:right;
}
.product-form .form-group
{
    float:right;
    width:95%;
}
.field-product-price span
{
    float:right;
}
.btn-success
{
    border-radius:0px;
}
.btn-primary
{
    border-radius:0px;
}
.form-group
{
    margin-bottom:30px;
    margin-right:30px;
}
.box_title
{
    background:#f9f9f9;
    height:45px;
    margin-bottom:30px;
    line-height:45px;
}
.box_title span
{
    margin-right:30px;
    font-weight:bold;
    font-size:18px;
}
.nav > li
{
    padding-top:0px;
    padding-bottom:0px;
}
.nav > li > a
{
    height:50px;
    line-height:30px;
}
.table
{
    margin-top:15px;
}
#adminlogin-captcha
{
    width:55%;
    margin-right: 135px;
}
.table  tr th
{
    color:#000000;
    text-align:center;
}
.table  tr td
{
    text-align:center;
}
.table  tr th a
{
    color:#000000;
    text-align:center;
}
#order_table
{
    width:90%;
    margin:auto;
}
#payment_setting label
{
    width:180px;
}
.answer_comment_form textarea
{
    width:100%;
    height: 180px;
    resize:none;
}
.answer_comment_div
{
    display:none;
}
#menu li
{
    border-bottom:1px solid #EFF1F2;
}
#menu li ul
{
    display:none;
}
#menu li a
{
    font-family:IRANSansWeb;
}
#menu li ul
{
    padding-top: 15px;
    padding-bottom: 15px;
}
#menu li ul li
{
    padding-top: 5px;
    border: 0px;
}
.menu_li_back
{
    background:#f4c05b;
}
.menu_li_back2
{
    background:black;
}
#menu li ul li a
{
    font-size: 14px;
    padding-right:15px;
    font-family:IRANSansWeb;
    background:none !important;
}
.img_gallery
{
    width:90%;
    margin: 30px auto;
}
.img_gallery img
{
    max-width:100%;
}
.img_gallery_box
{
    width:90%;
    direction:ltr;
    margin:20px auto;
}
.img_gallery_box img
{
    width: 170px;
    margin-top:20px;
}
a
{
    color:black;
    text-decoration:none;
}
@media (min-width: 768px)
{
    .sidebar  {
        display:block;
    }

}
.help-block
{
    color:red;
    font-size: 13px;
}
#register_form .form-control
{
    width: 220px;
}