* {
    padding:0px;
    margin:0px;
}
body {
    direction:rtl;
    font-family:IRANSansWeb;
    background: #eeeff1;
}
@font-face {
    font-family:'IRANSansWeb';
    src:url('../fonts/IRANSansWeb.eot');
    src:url('../fonts/IRANSansWeb.eot?#iefix') format("embedded-opentype"),
    url('../fonts/IRANSansWeb.woff') format("woff"),
    url('../fonts/IRANSansWeb.ttf') format("truetype");
}
@font-face {
    font-family:'Yekan';
    src:url('../fonts/yekan.eot');
    src:url('../fonts/yekan.eot?#iefix') format("embedded-opentype"),
    url('../fonts/yekan.woff') format("woff"),
    url('../fonts/yekan.ttf') format("truetype"),
    url('../fonts/yekan.svg#yekan') format("svg");
}
.line
{
    background-color: #FF9C00;
    height:3px;
}
.logo_title
{
    font-family:Yekan;
    font-size:25px;
    color:#FF9C00;
    margin-top:25px;
    margin-bottom:10px;
}
#add_user
{
    background-color: #FF9C00;
    border-radius:0px;
}
#add_user span
{
    border-left: 2px solid #FEB139;
    padding-left:4px;
}
#register_user
{
    background-color: #0FC801;
    border-radius:0px;
}
#register_user span
{
    border-left: 1px solid #2FD123;
    padding-left:4px;
}
.navbar-default
{
    background-color: #0086DC;
    border-radius:0px;
    color:#ffffff;
}
.navbar-default .navbar-nav > li > a
{
    color:#ffffff;
}
.navbar-default .navbar-nav > .active > a
{
    background:red;
    color:#ffffff;
}
.navbar-default .navbar-nav > li > a:hover
{
    background:red;
    color:#ffffff;
    border-bottom:0px;
}
.navbar-toggle
{
    background:#ffffff;
}
.product_box
{
    width:32%;
    background:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    margin-right:1%;
    margin-top:15px;
    float:right;
    margin-bottom: 15px;
}
.product_box .product_footer
{
    background-color: #0086DC;
    height:40px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}
.product_box .product_footer .left
{
    line-height:40px;
    float:left;
    font-size:15px;
    margin-left:15px;
    color:#ffffff;
}
#register_form
{
    margin-right: 30px;
}
#login_form
{
    margin-right:15px;
}
.product_box .product_footer .right
{
    line-height:40px;
    float:right;
    font-size:15px;
    padding-right:10px;
    color:#ffffff;
    background:#FF9C00;
    padding-left:10px;
}
.img_box
{
    width:100%;
}
.img_box img
{
    width:100%;
    margin-bottom:30px;
    height: 210px;
}
.product_title
{
    width:90%;
    margin-right:5%;
    margin-top:5px;
    margin-bottom:15px;
    height:50px;
}
.product_title a
{
    color:#000000;
    text-decoration:none;
}
.product_box .product_title span
{
    color:#ffffff;
    line-height:50px;
    margin-right:15px;
    margin-left:5px;
}
.show_img_box
{
    width:100%;
}
.show_img_box img
{
    width:90%;
}
.show_title_box
{
    margin-top:50px;
    font-size:18px;
    padding-bottom:10px;
    border-bottom:2px solid #f9f9f9;
}
.list-unstyled
{
    margin-top:15px;
}
.list-unstyled li
{
    margin-top:15px;
    cursor:pointer;
    font-size:15px;
}
.btn-primary
{
    border-radius:0px;
}
.form-control
{
    border-radius:0px;
    width:30%;
}
label
{
    float:right;
    padding-left:20px;
    width:150px;
    padding-top:8px;
}
.show_img_box img
{
    margin-top: 50px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active
{
    background:red;
    color:white;
}
.navbar-default .navbar-nav > .active > a
{
    background:#0086DC;
}
.form-control .btn-success
{
    border-radius:0px;
}
.box_title
{
    background:#f9f9f9;
    height:45px;
    margin-bottom:30px;
    line-height:45px;
}
.box_title span
{
    margin-right:30px;
    font-weight:bold;
    font-size:18px;
}
#cart_tbl tr th
{
    text-align:center;
}
#cart_tbl tr td
{
    text-align:center;
}
.discount_div_1
{
    float:right;
}
.discount_div_1 p
{
    padding-right:20px;
    padding-top:5px;
    font-weight:bold;
    font-size: 16px;
}

#tbl_cart .box_title
{
    height:55px;
}
.discount_div_2
{
    float:right;
}
.discount_div_2 input
{
    margin-right: 10px;
    margin-top: 10px;
}
.discount_div_3
{
    float:right;
}
.discount_div_3 button
{
    margin-right: 20px;
    margin-top: 10px;
    border-radius:0px;
}
.discount_div_4
{
    float:right
}
.comment_box
{
    width:95%;
    margin:20px auto;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.comment_title
{
   width:  100%;
    background:#EEEFF1;
    height: 40px;
}
.comment_parent_title
{
    width: 98%;
    border-bottom:1px solid #EEEFF1;
    height: 40px;
    margin:auto;
}
#loginform-captcha
{
    margin-right:135px;
}
@media (max-width:647px)
{
    .col-xs-6
    {
        width:100%;
    }
}
@media (max-width:820px)
{
    .product_box
    {
        width:49%;
    }
}
@media (max-width:530px)
{
    .product_box
    {
        width:99%;
    }
}
@media (max-width:760px)
{
    .discount_div_1
    {
        float:none;
    }
    .discount_div_2
    {
        float:none;
    }
    .discount_div_3
    {
        float:none;
    }
    .discount_div_4
    {
        float:none;
    }
    #tbl_cart .box_title
    {
        height:0px;
    }
    .form-control
    {
        width:50%;
    }
}
.help-block
{
    color:red;
    font-size: 13px;
}
#register_form .form-control
{
    width: 250px;
}
#address_order
{
    width: 250px;
    resize:none;
}